* {
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#grid {
	position: absolute;
	background-color: black;
	border: 1px solid black;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	margin: -300px 0 0 -300px;
}

div[id^="pt"] {
	border: 1px;
	height: 15px;
	width: 15px;
	float: left;
}


div[id$="-0"] {
	clear: left;
}

input {
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	top: 5%;
}

.snake {
	background-color: #01FEC3;
}

.food {
	background-color: #FE47E0;
}