* {
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#grid {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	margin: -300px 0 0 -300px;
}

div[id^="pt"] {
	border: 1px solid black;
	height: 15px;
	width: 15px;
	float: left;
	text-align: center;
	line-height: 15px;
}


div[id$="-0"] {
	clear: left;
}

.snake {
	background-color: red;
}

.food {
	background-color: blue;
}

.crash {
	background-color: green;
}
